[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
# Используем ENTRYPOINT и CMD из Dockerfile (docker-entrypoint.sh -> nginx)
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
